body{
    background-color: blueviolet;
}

div{
    background-color: brown;
border: 10cqh;
    padding: 2%;
    box-shadow: inset;
    border-width: 10ch;
    border-color: rgb(32, 31, 32);
}
 .div3 {
    background-color: brown;
border: 10cqh;
    padding: 2%;
    box-shadow: inset;
    border-width: 10ch;
    border-color: rgb(32, 31, 32);
}
.div2 {
    background-color: brown;
border: 10cqh;
    padding: 2%;
    box-shadow: inset;
    border-width: 10ch;
    border-color: rgb(32, 31, 32);
}